<% content_for :head do %>
  <% if !@blog_entry.author.blank? and !@blog_entry.author.google_plus_url.blank? %>
    <link rel="author" href="<%= @blog_entry.author.google_plus_url %>"/>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'spree/blog_entries/blog_sidebar' %>
<% end %>

<div class="blog_entry_show">
  <img src="<%= @blog_entry.blog_entry_image.attachment %>">

  <div class="blog_entry_details">

    <h1><%= @blog_entry.title %></h1>

    <div class="blog_entry_summary">
      <%= @blog_entry.entry_summary %>
      <span class="blog_read_more"><%= link_to t('spree.blog_read_more'), blog_entry_permalink(@blog_entry) %></span>
    </div>
    <%= render partial: 'spree/blog_entries/blog_entry_details', locals: { blog_entry: @blog_entry } %>
  </div>

  <%= render partial: 'spree/blog_entries/comments', locals: { blog_entry: @blog_entry }  %>
</div>
